<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- 新 Bootstrap4 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js" type="text/javascript" charset="utf-8"></script>
		<style>
			pre {
				margin: 0;
			}
			.content {
				font-size: 12px;
				overflow: auto;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-6 border-right border-primary">
					<div class="form">
						<div class="form-group">
							<label for="">file1</label>
							<input type="text" class="form-control" id="file1"/>
						</div>
						<button class="btn btn-primary" id="file1btn">确定</button>
					</div>
					<div id="content1" class="content">
						<table class="table table-sm">
							<tr v-for="item,index in file1">
								<td>{{index+1}}</td>
								<td :class="{'bg-info':item!=file2[index]}"><pre>{{item}}</pre></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-6">
					<div class="form">
						<div class="form-group">
							<label for="">file2</label>
							<input type="text" class="form-control" id="file2"/>
						</div>
						<button class="btn btn-primary" id="file2btn">确定</button>
					</div>
					<div id="content2" class="content">
						<table class="table table-sm">
							<tr v-for="item,index in file2">
								<td>{{index+1}}</td>
								<td :class="{'bg-warning':item!=file1[index]}"><pre>{{item}}</pre></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/index.js"></script>
	</body>
</html>